<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>Hello World!</h1>
        <h2>Welcome to Otis AI!</h2>
        <ul>
            <li>
                <a href="/user/register" >Register</a>
                <a href="/user/login">Login</a>
                <a href="/user/my-account" >My account</a>
            </li>
        </ul>
    </body>
</html>