<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>Login</h1>
        <h2>Welcome to Otis AI!</h2>

        <form action="/user/login" method="post">
            <div class="container">
                <p>Please use the form below to login to your account.</p>
                <hr>

                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" id="username" required>
            
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
            
                <button type="submit" class="loginbtn">Login</button>
            </div>

            <div class="container reset">
                <p>Don't remember your password or username? <a href="/reset-login-request">click here</a>.</p>
            </div>
            
            <div class="container signup">
                <p>Don't have an account? <a href="/user/register">Sign up</a>.</p>
            </div>
        </form>

    </body>
</html>