<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>Otis AI</h1>
        <h2>Welcome <%= username %>!</h2>
        <h3>Your credit: <%= credit %></h3>
        <h3>Your SEO content</h3>
        <ul>
            <li><a href="#">my articles</a></li>
            <li><a href="#">create new article</a></li>
        </ul>
        <h3>Settings</h3>
        <ul>
            <li><a href="/user/add-credits">buy credits</a></li>
            <li><a href="#">change password</a></li>
        </ul>
        <a href="/user/logout">logout</a>

        <form action="/user/refresh-token" method="post" >
            <input type="hidden" name="extra_submit_param" value="extra_submit_value">
            <button type="submit" name="submit_param" value="submit_value" class="link-button">
              Refresh token
            </button>
        </form>

    </body>
</html>